.CharacterList {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.CharacterList .Character {
    border: 1px solid black;
    width: 400px;
    margin: 10px;
    text-shadow:
    -1px -1px 0 white,  
     1px -1px 0 white,
     -1px 1px 0 white,
      1px 1px 0 white;
}

.CharacterList .character-name {
    font-size: 2rem;
}